.card{
    display: flex;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @media screen and (min-width: 1024px){
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 1fr auto;
    }

    .title{
        font-size: var(--fs-large);
        color: var(--text-secondary);
        font-weight: var(--fw-bold);
        margin-bottom: 0.25rem;
    }

    .subtitle{
        color: var(--text-secondary);
        font-weight: var(--fw-bold);
        margin-bottom: 0.25rem;
    }

    .location{
        color: var(--text-tertiary);
        margin-bottom: 0.25rem;
    }

    .extra{
        margin-bottom: 0.25rem;
        line-height: 1.5;
    }
}

.image { 
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    height: 30vh;

    @media screen and (min-width: 1024px){
        grid-area: 1 / 1 / 2 / 2;
        height: 40vh;
    }

    .cover{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .toggle{
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        padding: 0.5rem 1rem;
        background-color: var(--bg-light);
        color: var(--text-secondary);
        font-size: var(--fs-regular);
        display: flex;
        align-items: center;
        cursor: pointer;

        @media screen and (min-width: 1024px){
            top: auto;
            bottom: 0;
            height: 2.5rem;
        }

        .toggleIcon{
            width: 1.5rem;
            fill: var(--text-secondary);
            margin-left: 1rem;

            &.active{
                transform: rotate(180deg);
            }
        }

    
    }
}

.details { 
    grid-area: 2 / 1 / 3 / 2; 
    padding: 1rem;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 1024px){
        grid-area: 1 / 2 / 2 / 3; 
    }
}
.extraInformation { 
    grid-area: 3 / 1 / 4 / 4;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: var(--bg-light);
}

.btn{
    background-color: var(--bg-alt);
    color: var(--text-secondary);
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-weight: var(--fw-bold);
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    .small{
        font-size: var(--fs-small);
    }

    .large{
        font-size: var(--fs-large);
    }

    &:hover{
        background-color: var(--text-secondary);
        color: var(--bg-alt);
    }
}

