:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* colours */
  --bg-light: #fff;
  --bg-alt: #F8DD4B;
  --bg-dark:  #1D307A;

  --text-primary: #000000;
  --text-secondary: #1D307A;
  --text-tertiary: #888888;

  /* font size */

  --fs-small: 0.75rem;
  --fs-regular: 1rem;
  --fs-large: 1.25rem;

  /* font weight */

  --fw-bold: 600;


  background-image: url('/assets/background.png');
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

b{
  font-weight: var(--fw-bold);
}
