.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;

  @media screen and (min-width: 1024px){
    padding: 4rem;
  }
}

.results {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}
  
.filters { 
  grid-area: 1 / 1 / 2 / 2; 
  margin-bottom: 1rem;
}
.filteredResults { 
  grid-area: 2 / 1 / 3 / 2; 
  overflow-y: auto;
  max-height: 70vh;
}


@media screen and (min-width: 1024px) {
  .results {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }
  
  .filters { 
    grid-area: 1 / 1 / 2 / 2; 

    .container{
      padding: 0 2rem;
    }
  }
  
  .filteredResults { 
    grid-area: 1 / 2 / 2 / 3; 
    max-height: 90vh;

    .container{
      padding: 0 2rem;
    }
  }
}