.formGroup{
    background-color: var(--bg-light);
    padding: 0.5rem;
    border-bottom: 1px solid var(--text-secondary);

    @media screen and (min-width: 1024px){
      padding: 1rem;
    }

    &:last-child{
      border-bottom: none;
    }

    input{
      position: fixed;
      opacity: 0;
      pointer-events: none;
    }

    label{
      color: var(--text-secondary);
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;

      svg{
        width: 2rem;
        margin-left: auto;
      }
    }

    &:has(input:checked){
      background-color: var(--text-secondary);

      label{
        color: var(--bg-light);
      }
    }
}